.grey{
    background: lightgrey;
    height: 2000px;
    margin-top: 500px;
    display: flex;
    justify-content: space-between;
}

.image{
    width: 400px;
    position: sticky;
    top: 100px;
    align-self: flex-start;
}

.text{
    width: 300px;
    margin-top: 300px;
}

.card-background{
    height: 3000px;
    margin-top: 800px;
    margin-bottom: 1600px;
}

.card-box{
    position: sticky;
    top: 200px;
    transition: all 1s ease-in-out;
}

.card-box img{
    display: block;
    margin: auto;
    max-width: 80%;
    margin-top: 200px;
}